{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "exclude": ["/**/mocks", "/**/*.spec.ts"],
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
    "type": "es6"
  }
}
